.footer {
    &__wrap {
        display: flex;
        max-width: 1110px;
        margin: 0 auto;
        padding: 96px 0 82px;
        justify-content: space-between;
    }
    &__left {
        width: 27%;
    }
    &__description {
        margin: 18px 0 40px;
    }
    &__links {
        display: flex;
        width: 184px;
        justify-content: space-between;
    }
    &__link {
        transition: all ease .3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__right {
        display: flex;
        width: 53.5%;
        justify-content: space-between;
    }
    &__column:not(:last-child) {
        margin-right: 30px;
    }
    &__column-title {
        display: block;
        margin-bottom: 18px;
        @include font(700, 21px, $black);
        letter-spacing: 0.5px;
    }
    &__column-link {
        display: block;
        margin-bottom: 13px;
        @include font(400, 14px, $black);
        letter-spacing: 0.5px;
        transition: all ease .3s;
        &:hover {
            color: $lightBlue;
        }
    }
}


@media screen and (width < 768px) { 
    .footer {
        &__wrap {
            flex-direction: column;
            padding: 70px 0 50px;
        }
        &__left {
            width: 100%;
            text-align: center;
        }
        &__description {
            margin: 0 0 20px
        }
        &__links {
            max-width: 184px;
            margin: 0 auto 40px;
        }
        &__right {
            width: 100%;
            justify-content: space-around;
        }
    }
    
}

@media screen and (width < 576px) { 
    .footer {
        &__right {
            flex-direction: column;
        }
        &__column:not(:last-child) {
            margin-right: 0;
        }
        &__column {
            text-align: center;
            margin-bottom: 50px;
        }
    }
    
}