.get {
    position: relative;
    background-image: url(/images/getExperience.svg);
    background-repeat: no-repeat;

    &__wrap {
        max-width: 1110px;
        margin: 0 11.46%;
        padding: 195px 0 55px;
        background-image: url(/images/getMadam.png);
        background-repeat: no-repeat;
        background-size: 43%;
        background-position: 89% bottom;

    }
    &__title, &__description {
        max-width: 359px;
        color: $white;
    }
    &__title {
        margin: 0 0 15px;
        line-height: 147.6%;
        letter-spacing: 0.8px;
    }

    &__btn {
        margin-top: 30px;
        color: $black;
        &:hover {
            color: $white;
            background: $orange;
        }
    }
}
