.header {
    &__wrap {
        width: 1110px;
        height: 112px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        width: 54%;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        @include font(400, 16px, $black);
        transition: all ease .2s;

        &:hover {
            color: $orange;
            transform: scale(1.07);
        }
    }
}

.logo {
    height: 44px;
}