.hero {
    &__wrap {
        max-width: 1110px;
        margin: 0 auto;
        padding: 127px 0 133px;
        position: relative;
    }

    &__title {
        max-width: 674px;
        margin-bottom: 25px;
        position: relative;
        z-index: 2;
        @include font(700, 54px, $black);
        line-height: 146.296%;
        letter-spacing: 0.8px;
    }
    &__description {
        max-width: 467px;
        margin-bottom: 42px;
        position: relative;
        z-index: 2;
        @include font(400, 16px, $black);
        line-height: 168.75%; 
        letter-spacing: 1.15px;
    }
    &__form {
        display: flex;
        width: 42%;
        position: relative;
        border-radius: 29px;
        box-shadow: -222px 7px 82px -10px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        &-email {
            width: 71%;
            padding: 18px 28px 16px 72px;
            border: none;
            outline: none;
            position: relative;
            background-image: url(/images/iconFormEmail.svg);
            background-repeat: no-repeat;
            background-position: 9% 52%;
            &::placeholder {
                @include font(400, 16px, #BBB);
            }
            &:focus {
                z-index: 3;
            }
        }      
    }
    &__btn {
        background: $orange;
        border: 2px solid $orange;
        margin-right: 7px;
        &:hover {
            color: $orange;
            background: $white;
        } 
    }
    &__BG {
        width: 540px;
        position: absolute;
        top: 0;
        right: 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}
.swiper {
    max-width: 1109px;
    height: 241px;
}

.swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
  }

.swiper-slide {
    display: flex !important;
    padding: 0 5.41%;
    align-items: center;
    justify-content: center;
    &__img {
        width: 100%;
    }
}



@media screen and (width < 992px) { 
    .hero {
        &__wrap {
            padding: 102px 0 106px;
        }
    
        &__title {

        }
        &__description {
            font-size: 13px;
        }
        &__form {
            flex-direction: column;
            box-shadow: none;
            &-email {
                margin-bottom: 10px;
                padding: 18px 18px 16px 60px;
            }      
        }
        &__btn {

        }
        &__BG {
            width: 485px;
        }
    }
}

@media screen and (width < 768px) { 
    .hero {
        &__wrap {
            
        }
    
        &__title {
            
        }
        &__description {
            
        }
        &__form {

            &-email {

            }      
        }
        &__btn {

        }
        &__BG {
            
        }
    }
}